@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "bootstrap";

@import "src/assets/scss/components/components";

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}