.body-wrapper {
  .orange {
    color: #fb6520;
  }

  .section-top {
    background-image: url('/src/assets/images/pattern.png');

    @media (max-width: 575.98px) {
      font-size: 1.2em;
    }
  }

  .section-middle {
    img {
      height: 300px;
      width: 300px;
    }

    @media (max-width: 575.98px) {
      img {
        height: 150px;
        width: 150px;
      }
    }
  }

  .section-bottom {
    background-image: url("/src/assets/images/middle.png");
    color: white;
    font-size: 1.4em;

    ul {
      list-style-type: circle
    }

    table {
      table-layout: fixed;
    }

    @media (max-width: 575.98px) {
      background-image: url("/src/assets/images/mobile-mid.png");
      font-size: 1.2em;

      ul {
        padding-left: 1.2em;
      }
    }
  }
}