.footer-wrapper {
  .section-top {
    font-size: 1.4em;
    background-image: url("/src/assets/images/pattern.png");

    @media (max-width: 575.98px) {
      padding-bottom: 40px;
      font-size: 1.2em;
    }
  }

  .section-bottom {
    height: 50vh;
    background-image: url("/src/assets/images/allepal-location.png");
  }
}