.header-wrapper {
  height: 100vh;

  @media (max-width: 575.98px) {
    height: 45vh;
  }

  .section {
    height: 100vh;
    background-image: url("/src/assets/images/top.png");

    img {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: 575.98px) {
      background-image: url("/src/assets/images/mobile-top.png");
      height: 45vh;
      width: auto;
    }
  }
}